<% provide(:title, @user.name) %>
<h1>
 
  <%= @user.name %>
  
</h1>

<p>
  <%= "created at: #{@user.created_at}, updated at: #{@user.updated_at}" %> 
</p>
<p>
  The time is currently <%= Time.now %>
</p>
